/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General styles */

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700|Roboto:300,400,500,700");

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 18px;
}

/* ... the rest of general styles goes here */

:root {
  --heading-color: #2e3991;
  --button-background-color: #42c4de;
  --line-color: #74b151;
  --text-color: #3b3b3b;
  --page-background: #fff;
  --main-heading: #038789;
  --light-div: #daf0ffc9;
  --large-button-background: #69c3c4;
  --large-button-text: #fff;
  --form-background: #00adae08;
  --light-gray-border: #33333333;
  --active-tab-background: #3fb4b5;
  --normal-tab-background: #fff;
  --active-tab-text: #fff;
  --tabs-border: #3fb4b5;
  --small-button: #31aaab;
  --statistics-borders: #3333335c;
  --statistics-div: #5ca6df;
  --golden: #c7bc04;
  --logout-button: #3d3d3db8;
  --home-color: #69c3c4;
  --container: #dcf1ffba;
  --statistics: #69c3c4;
  --gray: #666363;
}

html{
  background-color: var(--page-background)
}
