/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General styles */
body {
  font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Dosis', sans-serif;
}

h3 {
  font-size: 18px;
}

/* ... the rest of general styles goes here */

:root {
  --heading-color: #2E3991;
  --paragraph-color: #e73e64;
  --button-background-color: #42C4DE;
  --button-text-color: #3D3D3D;
  --line-color: #FAA634;
  --border-color: #A0CE67;
}
