@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700");

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4f4f4f;
  font-size: 1rem;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* 2 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/* remove the padding in collaps panels */
.ant-collapse-content-box {
  padding: 0 !important
}

.survey-results__collaps .ant-collapse-borderless > .ant-collapse-item, .survey-results__collaps .ant-collapse-header {
  border-bottom: 1px solid #d9d9d9 !important;
}

ant-collapse-header
/* style for the Select component in AddTrainer view */
.add-trainer__select .ant-select-selection {
  white-space: nowrap;
  height: 50px;
  overflow: auto
}

.ant-select-selection .ant-select-selection__rendered{
  line-height: 48px
}