pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4f4f4f;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* 2 */
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
